body {
    color: powderblue;
    background-color: rgb(208, 203, 203)
}

div.a {
    color: olive;
    background-color: bisque;
    text-align: center;
    font-size: 42px;
    padding: 20px;
    border: 20px solid black;
    margin: 20px
}

div.b {
    color: black;
    text-align: center;
    font-size: 42px;
}

img {
    height: auto;
    width: 700px;
  }
  

.alert-text,
p.a {
    color: crimson;
}

p.a {
    text-align: center;
}