body {
    color: black;
    background-color: rgb(208, 203, 203)
}

div.heading {
    color: rgb(142, 23, 23);
    background-color: bisque;
    text-align: center;
    font-size: 42px;
    padding: 20px;
    border: 20px inset rgb(211, 99, 99);
    margin: 20px
    box-sizing: border-box;
    
}

div.a {
    background-color: white;
    color: black;
    padding: 1em;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border: 5px double black;
    margin: 10px;
    display: flex;
    align-items: center;
    gap: 10px
}

.link {
    flex: 1;
    border: 2px double black;
    background-color: rgb(210, 206, 206);
    justify-content: center;
    
}

div.b {
    color: black;
    text-align: center;
}

.free {
    background-color: white;
    border: 1px solid black;
    padding: 2px;
}

img {
    height: auto;
    width: 700px;
  }
  

.alert-text,
p.a {
    color: crimson;
}

p.a {
    text-align: center;
}

